TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/axcps15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSCustomerContact" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSCustomerContact" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSCustomerContact" type="CPSCustomerContact" />
  <xsd:complexType name="CPSCustomerContact">
    <xsd:sequence>
      <xsd:element name="SalesPersonPhone" type="xsd:string" />
      <xsd:element name="SalesPersonName" type="xsd:string" />
      <xsd:element name="SalesPersonEmail" type="xsd:string" />
      <xsd:element name="BranchAddress" type="xsd:string" />
      <xsd:element name="BranchPhone" type="xsd:string" />
      <xsd:element name="BranchFax" type="xsd:string" />
      <xsd:element name="CreditRepPhone" type="xsd:string" />
      <xsd:element name="CreditRepName" type="xsd:string" />
      <xsd:element name="CreditRepEmail" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>