TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSArchRackInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSArchRackInfo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSArchRackInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSArchRackInfo" type="CPSArchRackInfo" />
  <xsd:complexType name="CPSArchRackInfo">
    <xsd:sequence>
      <xsd:element name="RackID" type="xsd:string" />
      <xsd:element name="RackType" type="xsd:string" />
      <xsd:element name="CustAccount" type="xsd:string" />
      <xsd:element name="DeliveryAddress" type="xsd:string" />
      <xsd:element name="CheckOutDate" type="xsd:string" />
      <xsd:element name="SalesID" type="xsd:string" />
      <xsd:element name="PurchOrderFormNum" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>