TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSCustomerNotifications.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSCustomerNotifications" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSCustomerNotifications" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSCustomerNotifications" type="CPSCustomerNotifications" />
  <xsd:complexType name="CPSCustomerNotifications">
    <xsd:sequence>
      <xsd:element name="CustomerId" type="xsd:string" />
      <xsd:element name="DateTime" type="xsd:string" />
      <xsd:element name="NotificationType" type="xsd:string" />
      <xsd:element name="Notification" type="xsd:string" />
      <xsd:element name="RefRecId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>