TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSInvoiceSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSInvoiceSummary" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSInvoiceSummary" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSInvoiceSummary" type="CPSInvoiceSummary" />
  <xsd:complexType name="CPSInvoiceSummary">
    <xsd:sequence>
      <xsd:element name="DatePoint" type="xsd:string" />
      <xsd:element name="Amount" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>