TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSInventSite.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSInventSite" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSInventSite" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSInventSite" type="CPSInventSite" />
  <xsd:complexType name="CPSInventSite">
    <xsd:sequence>
      <xsd:element name="InventSiteId" type="xsd:string" />
      <xsd:element name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>