TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSInvoiceLine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSInvoiceLine" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSInvoiceLine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSInvoiceLine" type="CPSInvoiceLine" />
  <xsd:complexType name="CPSInvoiceLine">
    <xsd:sequence>
      <xsd:element name="ItemId" type="xsd:string" />
      <xsd:element name="LineNo" type="xsd:string" />
      <xsd:element name="ItemName" type="xsd:string" />
      <xsd:element name="UnitPrice" type="xsd:string" />
      <xsd:element name="Quantity" type="xsd:string" />
      <xsd:element name="Discount" type="xsd:string" />
      <xsd:element name="Type" type="xsd:string" />
      <xsd:element name="DeliveryDate" type="xsd:string" />
      <xsd:element name="Unit" type="xsd:string" />
      <xsd:element name="ListSqftLit" type="xsd:string" />
      <xsd:element name="ShippedQuantity" type="xsd:string" />
      <xsd:element name="InventTransId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>