TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSMuntinInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSMuntinInfo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSMuntinInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSMuntinInfo" type="CPSMuntinInfo" />
  <xsd:complexType name="CPSMuntinInfo">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:string" />
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="SortOrder" type="xsd:string" />
      <xsd:element name="ThicknessNum" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>