TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSPackingSlipHeader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSPackingSlipHeader" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSPackingSlipHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSPackingSlipHeader" type="CPSPackingSlipHeader" />
  <xsd:complexType name="CPSPackingSlipHeader">
    <xsd:sequence>
      <xsd:element name="PackingSlipId" type="xsd:string" />
      <xsd:element name="SalesOrder" type="xsd:string" />
      <xsd:element name="PackingSlipDate" type="xsd:string" />
      <xsd:element name="Voucher" type="xsd:string" />
      <xsd:element name="CustPhone" type="xsd:string" />
      <xsd:element name="CustName" type="xsd:string" />
      <xsd:element name="CustAddress" type="xsd:string" />
      <xsd:element name="BranchPhone" type="xsd:string" />
      <xsd:element name="CellularPhone" type="xsd:string" />
      <xsd:element name="BranchFax" type="xsd:string" />
      <xsd:element name="Branch" type="xsd:string" />
      <xsd:element name="BranchNum" type="xsd:string" />
      <xsd:element name="LinesQty" type="xsd:string" />
      <xsd:element name="PurchaseOrder" type="xsd:string" />
      <xsd:element name="OrderDate" type="xsd:string" />
      <xsd:element name="SalesPerson" type="xsd:string" />
      <xsd:element name="Routing" type="xsd:string" />
      <xsd:element name="DateWanted" type="xsd:string" />
      <xsd:element name="DateShipped" type="xsd:string" />
      <xsd:element name="Terms" type="xsd:string" />
      <xsd:element name="TotalWeight" type="xsd:string" />
      <xsd:element name="TotalSqFootage" type="xsd:string" />
      <xsd:element name="TotalPieces" type="xsd:string" />
      <xsd:element name="CustAccount" type="xsd:string" />
      <xsd:element name="CustomerName" type="xsd:string" />
      <xsd:element name="InventLocationName" type="xsd:string" />
      <xsd:element name="CustomerRef" type="xsd:string" />
      <xsd:element name="SalesPoolId" type="xsd:string" />
      <xsd:element name="RecId" type="xsd:string" />
      <xsd:element name="SalesGroup" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>