TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSQuotationLineConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSQuotationLineConfig" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSQuotationLineConfig" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSQuotationLineConfig" type="CPSQuotationLineConfig" />
  <xsd:complexType name="CPSQuotationLineConfig">
    <xsd:sequence>
      <xsd:element name="var" type="xsd:string" />
      <xsd:element name="val" type="xsd:string" />
      <xsd:element name="idx" type="xsd:string" />
      <xsd:element name="InventTransID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>