TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSReturnOrderLine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSReturnOrderLine" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSReturnOrderLine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSReturnOrderLine" type="CPSReturnOrderLine" />
  <xsd:complexType name="CPSReturnOrderLine">
    <xsd:sequence>
      <xsd:element name="LineNo" type="xsd:string" />
      <xsd:element name="Amount" type="xsd:string" />
      <xsd:element name="ItemId" type="xsd:string" />
      <xsd:element name="ItemName" type="xsd:string" />
      <xsd:element name="UnitPrice" type="xsd:string" />
      <xsd:element name="Quantity" type="xsd:string" />
      <xsd:element name="ReturnReason" type="xsd:string" />
      <xsd:element name="ReturnDate" type="xsd:string" />
      <xsd:element name="Status" type="xsd:string" />
      <xsd:element name="InventTransId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>