TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSShipManifestHeader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSShipManifestHeader" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSShipManifestHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSShipManifestHeader" type="CPSShipManifestHeader" />
  <xsd:complexType name="CPSShipManifestHeader">
    <xsd:sequence>
      <xsd:element name="ManifestId" type="xsd:string" />
      <xsd:element name="ShippingDate" type="xsd:string" />
      <xsd:element name="SalesPoolId" type="xsd:string" />
      <xsd:element name="InventLocationId" type="xsd:string" />
      <xsd:element name="Status" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>