TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSSalesOrdersSummaryByStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSSalesOrdersSummaryByStatus" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSSalesOrdersSummaryByStatus" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSSalesOrdersSummaryByStatus" type="CPSSalesOrdersSummaryByStatus" />
  <xsd:complexType name="CPSSalesOrdersSummaryByStatus">
    <xsd:sequence>
      <xsd:element name="SalesOrderStatus" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>