TruliteMobile/TruliteMobile.UWP/Connected Services/AXCPS/CPSWarehouseEdgeFab.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSWarehouseEdgeFab" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2006/02/documents/CPSWarehouseEdgeFab" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPSWarehouseEdgeFab" type="CPSWarehouseEdgeFab" />
  <xsd:complexType name="CPSWarehouseEdgeFab">
    <xsd:sequence>
      <xsd:element name="PriceCode" type="xsd:string" />
      <xsd:element name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>